<div class = mb-3>
    <div class="mb-3">
        <label for="filterColorText" class="form-label">Renk ara</label>
        <input type="text" [(ngModel)] = "filterColorText" class="form-control" id="filterColorText" 
        placeholder="renk giriniz">
    </div>

    <ul class="list-group">
        <li (click) = "setCurrentColor(color)" *ngFor = "let color of colors |colorFilter: filterColorText"
        routerLink = "/cars/color/{{color.colorId}}" 
        [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
    </ul>

    <button type = "button" routerLink = "/cars" (click) = "clearFilter()" 
    class = "btn btn-info">Clear</button>

</div>




