<div class = mb-3>
    <div class="mb-3">
        <label for="filterBrandText" class="form-label">Marka ara</label>
        <input type="text" [(ngModel)] = "filterBrandText" class="form-control" id="filterBrandText" 
        placeholder="marka giriniz">
    </div>
    
    <ul class="list-group">
        <!-- <li [class]="getAllBrandClass()">Tüm Arabalar</li> -->
        <li (click) = "setCurrentBrand(brand)" *ngFor = "let brand of brands |brandFilter: filterBrandText"
        routerLink = "/cars/brand/{{brand.brandId}}" 
        [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
    </ul>

    <div class = "mb-3">
        <button type = "button" routerLink = "/cars" (click) = "clearFilter()" 
        class = "btn btn-info">Clear</button>
    </div>
</div>



